<!--热门文章列表，在文章详情显示，首页不显示-->
<% if(post.id){ %>
<div class="card widget">
  <div class="card-content" style="font-size: 14px;font-weight:500;line-height: 30px">
    <% site.posts.filter(post=> post.hot).sort('date', -1).limit(6).each(function(post) {%>
    <% if(post.hot) { %>
    <p class="p-overflow"><a href="/<%= post.id%>.html">
        <!--热门-->
        <% if (post.hot) { %>
        <img src="/images/hot.gif" />
        <% } %>
        <!--如果存在短标题，使用短标题-->
        <% if(post.sort_title) { %>
        <%= post.sort_title%>
        <% } %>
        <!--如果不存在短标题，使用文章标题-->
        <% if(!post.sort_title) { %>
        <%= post.title%>
        <% } %>
      </a></p>
    <% } %>
    <% })%>

  </div>
</div>
<% } %>