<!--微信公众号展示-->
<% function qrcode() {
    const qrcode = get_config_from_obj(widget, 'qrcode');
    if (qrcode !== null) {
        return url_for(qrcode)
    }
    return url_for('images/mp.jpg');
} %>

<div class="card widget">
    <div class="card-content">
        <nav class="level">
            <div class="level-item has-text-centered" style="flex-shrink: 1">
                <div>
                    <div style="float: left;width: 38%;">
                        <!--公众号二维码-->
                        <img src="<%= qrcode() %>" style="width: 128px; height: 128px;" alt="扫码关注微信公众号.">
                    </div>
                    <div style="float: left;width:58%;">
                        <p style="font-weight: bold;font-size: 18px;">关注微信公众号</p>
                        <br/>
                        <% get_config_from_obj(widget,'qrcode_desc').forEach(desc => {%>
                            <p style="text-align: left;margin-left: 10px"> - <%= desc %></p>
                        <% }) %>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>