<div class="card widget">
  <div class="card-content" style="padding: 0%">
    <!--个人信息-->
    <img src="/images/profile2.png" />
    <!--第三方文章发布平台-->
    <div class="article-platform">
      <span><a href="https://www.jianshu.com/u/092df3f77bca" title="简书" target="_blank"><img src="/images/简书.png"
            width="25" /></a></span>
      <span><a href="https://me.csdn.net/weixin_42033269" title="CSDN" target="_blank"><img src="/images/csdn.svg"
            width="25" /></a></span>
      <span><a href="https://juejin.im/user/5a0aaeecf265da43163c96b7" title="掘金" target="_blank"><img
            src="/images/juejin-logo.svg" width="25" /></a></span>
      <span><a href="https://segmentfault.com/u/hengyushaonian/articles" title="思否" target="_blank"><img
            src="/images/思否.png" width="25" /></a></span>
      <span><a href="https://www.zhihu.com/people/heng-yu-shao-nian/posts" title="知乎" target="_blank"><img
            src="/images/知乎.svg" width="25" /></a></span>
      <span><a href="https://gitee.com/hengboy" title="源码托管平台：码云" target="_blank"><img src="/images/gitee.png"
            width="25" /></a></span>
      <span><a href="https://github.com/hengboy" title="源码托管平台：GitHub" target="_blank"><img src="/images/GitHub.svg"
            width="25" /></a></span>
    </div>
  </div>
</div>